* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aquamarine;
  padding: 20px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav--list {
  display: flex;
  gap: 12px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(100, 117, 117);
}

body {
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/230/505/desktop-wallpaper-dark-landscape-top-dark-landscape-dark-landscape.jpg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
